#floating-panel {
	padding-bottom: 25px;
}
#map {
  width: 700px;
  height: 500px;
  float: left;
}

#recentPlacesList {
	float: left;
	margin-left: 60px;
}

#recentPlaces tbody tr {
	font-size: 12px;
}